<!--The content below is only a placeholder and can be replaced.-->

    <div class="header ">
        
      <div class="cursor-pointer header-left pull-left">
          <img class="education-logo2" alt="Say yes to education" src="../../assets/img/say-yes-to-education.png"/>
      </div>
      <div class="pull-right header-right cursor-pointer" >
          <!--<img class="education-logo2" alt="buffalo public schools logo" src="assets/img/buffalo-public-schools.png"/>-->
          <img class="education-logo2" alt="say-yes-buffalo" src="../../assets/img/syracuse/say-yes-syracuse.jpg"/>
        </div>
        
           <h1> Postsecondary Planning System (PPS)</h1>
            
     </div>
    
    
    