
 <div class="footer ">
        
  <div class="middle">
         <div>This screen presents information that is confidential and/or proprietary to Say Yes to Education and may only be used for a limited purpose.</div>
         <div> DO NOT MAKE COPIES OR FURTHER DISTRIBUTE without prior written consent from Say Yes.</div>      
          <div>Version 2.1.201912.0 8fe8d107</div>
          </div>
          <div class="cursor-pointer footer-left pull-left">
             <div> If you need any assistance</div>
             <div> please contact: akern@sayyestoeducation.org</div>
          </div>
          <div class="pull-right footer-right cursor-pointer" >
              <div>Copyright © 2019 Say Yes to Education.</div>
              <div>All rights reserved.</div>
            </div>    
   </div>
  
  